@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');


*{
box-sizing: border-box;
}

.icon{
    color: #0bbc5a;
    border: solid 2px;
    border-radius: 50%;
    height: 1.25em;
    font-size: 36px;
    padding: 9px 9px 9px 9px;
    background-color: #fff;
}
.daneblock{
    display: flex;
    margin: 20px 0;
    justify-content: center;
}
.daneinner{
    display: flex;
}
.textset{
    font-size: 19px!important;
    line-height: 30px;
    text-align: justify;
    color: #FFFFFF;
    margin: 7px 0px 0px 9px;
}


.textset2{
  font-size: 1.75rem!important;
  line-height: 35px!important;
  text-align: justify;
  color: #5b5b5c; 
  margin: 7px 0px 0px 9px;
}

.gallery-button{
    cursor: pointer;
}

[data-reach-dialog-content] {
    max-width: 80vw;
    width: auto!important;
    max-height: 75vh;
    margin: 15vh auto!important;
    background: white;
    padding: 1rem!important;
    outline: none;
    position: relative;
    display: flex;
    border: solid 1px #fff;
    border-radius: 10px;

  }
[data-reach-dialog-content] img{
  object-fit: contain;
}

  .copy{
    color: #000;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px!important;
  }

  .map{
    margin-bottom: -3px;
  }

  a{
      color:#0bbc5a;
      text-decoration: none;

  }
  a:hover{
    color:#0bbc5a;
    text-decoration: none;
  }
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.atrakcje ul{
    list-style: none;
    padding: 0;
    margin-top: 0px;
    margin-block-end: 0px;
  }
.atrakcje li {
    padding-left: 1.6em;
    padding-bottom: 17px;
    font-size: 18px;
    color: #5b5b5c;
}
.atrakcje li:before {
  content: "\F00C";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.4em;
  height: 1.4em;
  background-color: #0bbc5a;
  border-radius: 50px;
  color: #fff;
  padding: 9px 0 0 8px;
  margin-right: 15px;
}

.right{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.logo-ft{
  font-size: 1.9rem;
  padding: 5px 0;
}
@media (max-width: 992px) {
  .copy, .right{
    justify-content: center;
  }
}